{% extends "layout.html" %}

{% block title %}
    Chats
{% endblock %}

{% block main %}
    <div class="inner-container">
        <div class="chats-panels">
            <div class="left-panel">
                <div class="left-panel-top">

                </div>
                <ul class="chats">
                {% for chat in chats %}
                    <div class="chat">
                        <input hidden name="chat_partner_id" value="{{ chat['id'] }}">
                        <button>{{ chat["username"] }}</button>
                        {% if chat["new_message_count"] != 0 %}
                            <span class="dot">{{ chat["new_message_count"] }}</span>
                        {% else %}
                            <span class="dot-none">0</span>
                        {% endif %}
                    </div>
                {% endfor %}
                </ul>
                <div class="left-panel-bottom">

                </div>
            </div>
            <div id="right-panel">
                <div id="right-panel-top">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="static/chats.js">

    </script>
{% endblock %}

